@charset "UTF-8";
/*
    em HTML é id    = em CSS #
    em HTML é class = em CSS é .

*/
body{
    background-color: #57B67C ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #395643;
}
h1#principal{ /* aplica os parametros para o h1 principal, seletor personalizado */
    text-align: center; 
    background-color: azure;
    color: black;
}
h2{
    color: #121b15;

}
.basico{

    color: #437439;
}
.intermediario{
    color: #8d8957;
}
.avancado{
    color: #96685a;
}
.destaque{
    background-color: rgba(238, 238, 27, 0.781);
}